<h2> Address Book </h2>
<h4> - Simplify - </h4>
<%= link_to "Contact's List", contacts_path %>
<div>
<li> Name: <%= @contact.name %> </li>
<li> Mobile: <%= @contact.phone %> </li>
<li> Email: <%= @contact.email %> </li>
<li> Address: <%= @contact.address %> </li> <br/>
</div>
