<!DOCTYPE html>
<html>
  <head>
    <title>TrimeTacking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 style="text-align: center;">Welcome to the TrimeTacker</h1>
      <a href= "/projects"> Index </a>

      <%= render "snippets/navigation" %>
    </header>
    <%= yield %>

    <footer>
      <p> Made with <span style= "color: red;"> &hearts; </span> at Ironhack. </p>
    </footer>
  </body>
</html>
