<h2> Project Details </h2>
<h3> <%= @myproject.name %> </h3>
<p> <%= @myproject.description %> </p>

<ul>
  <li> Id: <%= @myproject.id %> </li>
  <li> Description <%= @myproject.description %> </li>
  <li> Created: <%= @myproject.created_at %> </li>
  <li> Updated: <%= @myproject.updated_at %> </li>
</ul>
