<h3> Your Project Details: </h3>
<h4> <%= @myproject.name %> </h4>
<ul>

    <%@my_entries.each do |entry| %>
    <li>
      <%= entry.hours %> h
      <%= entry.minutes %> m -
      <%= entry.date %>
      <%= link_to "Edit", edit_project_time_entry_path(@myproject, entry) %>
      <!-- entry comes from the loop variable above -->
      <%= link_to "Delete", project_time_entry_path(@myproject, entry), method: "delete", data: { confirm: "are you sure?"} %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new time entry", new_project_time_entry_path(@myproject) %>
