<% if @my_entry.errors.any? %>
  <ul>
    <% @my_entry.errors.full_messages.each do |error_msg| %>
    <li><%= error_msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@myproject, @my_entry] do |f| %>

<%= f.label :date %>
<%= f.date_field :date %>

<%= f.label :hours %>
<%= f.text_field :hours %>

<%= f.label :minutes %>
<%= f.text_field :minutes %>

<%= f.label :comments %>
<%= f.text_area :comments %>

<%= f.button %>

<% end %>
